/** {
    border: 1px solid red !important;
}*/

* {
    box-sizing: border-box;
}

.gray {
    /*background-color: #2ba6cb;*/
    background: #D8D8D8;
    border: 1px solid #979797;
    padding: 0 90px;
}

.padding {
    padding: 15px;
}

#name {
    position: fixed;
    top: 0;
    width: 100%;
}

/*reference to crop an image:
http://stackoverflow.com/questions/15167545/
how-to-crop-a-rectangular-image-into-a-square-with-css*/

.crop_icon {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.crop_banner {
    object-fit: cover;
    width: 150px;
    height: 30px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 35px;
    font-weight: 200;
    /*font-family: 'Cormorant', serif;*/
}

h5 {
    font-size: 30px;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}


/*.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}*/

/*.row {
    display: flex;
    width: 100%;
}*/

/*.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}*/