<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Assassins Home Page</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="scripts.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center"> <a href="index.html"> Welcome to Mather Assassins ! </a></h1>
    </div>

    <img src="photos/mather.jpg" class="img-responsive center-block img-square" alt="picture of mather house logo" style="width:300px; height:300px;">

    <div class="padding"></div>

    <div class="container">
        <h3 id="about" class="row text-center"> Rules </h3>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <h4> <em>"Here's some text explaining the Rules, courtesy of Sofia and Katie!"</em> </h4>

                <ul>
                    <li> Once you receive your target, you have 48 hours to shoot them with your baby water gun or you are disqualified. </li>

                    <li> If you shoot your target, please get the name of their target and this will be your new target. If there is confusion over who your new target is email us and we will let you know! </li>

                    <li> If you shoot your assassin (the person targeting you) before they shoot you, you are safe for 1 hour. </li>

                    <li> To ensure the game is as safe as possible, physical contact between assassin and target during water gun pursuits is not allowed.</li>

                    <li> You may only use the water gun provided by HoCo. </li>

                    <li> This water gun must be filled with WATER, not hot sauce or pesto @George. </li>

                    <li> Safe spaces include Mather D-Hall, gym, and the library bc that ain't cool. Everywhere else is fair game. You are also safe if you are naked. </li>

                    <li> Violation of any of the above rules will end in your removal from the game. </li>
                </ul>

            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="padding"></div>

    </div>

    <!--  -->
    <h3 id="contact" class="text-center">Kill Feed</h3>

    <div class="container">
        <div class=”row”>
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <h4> Here's the Kill Feed. Beware, impending epic stories ... </h4>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <!--  -->

    <h3 id="contact" class="text-center">You</h3>

    <div class="container">
        <div class=”row”>
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <h4>Join, Login, or View Your Profile </h4>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <!--  -->

    <div class="container">
        <br>

        <h3 id="contact" class="text-center">Contact</h3>

        <div class="text-center">For Website, Email: jess.huang.98@gmail.com</div>
        <div class="text-center">For Game, Email: sofiakennedy@college.harvard.edu and kcronin01@college.harvard.edu</div>

        <div class=”row”>
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <hr>
                <a href = "https://mather.harvard.edu/">
                    <em> It should really be called Mather Home. </em>
                 </a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

</body>
</html>